apiVersion: v1
kind: Secret
metadata:
  name: wazuh-api-cred
  namespace: wazuh
data:
  password: YWRtaW4= # admin
  username: YWRtaW4= # admin
  hostname: d2F6dWgud2F6dWguc3ZjLmNsdXN0ZXIubG9jYWw= # wazuh.wazuh.svc.cluster.local
type: Opaque

